Assets/Imported
Library
Logs
Temp
Assets/GPT AI Integration
Assets/GPT AI Integration.meta
Assets/AstarPathfindingProject
Assets/BreadAI/BakedData/
Assets/BreadAI/BakedData/BreadDataMembers.json
Assets/BreadAI/BakedData/BreadDataMembers_readable.json
